@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,500&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.App {
  margin: 2rem;
}

.loader {
  height: 288px;
  background-color: #CCCCCC;
  border: none !important;
}

body {
  background-color: #F3F3F3;
  color: #1C1D20;
  font-family: 'Work Sans', sans-serif;
}

.pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
}

.pokedex-header {
  margin: 2rem 0;
}

.pokedex>li {
  border: 1px solid #1C1D20;
}

.pokedex>li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1C1D20;
}

.pokedex>li div {
  width: 100%;
  padding: 1.5rem;
}

.pokedex>li div p.id {
  color: #1C1D2075;
  margin-bottom: .25rem;
}

.pokedex>li div p.type {
  margin-top: .25rem;
}

.pokedex>li div ul {
  margin-top: 1rem;
  padding-left: 1rem;
}

.pokedex>li div ul li {
  list-style: disc;
}

.pokedex img {
  max-width: 7.5rem;
  max-height: 7.5rem;
  height: 100%;
  width: 100%;
  margin-top: 1.5rem;
}

input[type="text"] {
  padding: 0.5rem 1rem;
  color: #1C1D2075;
  transition: .5s;
  background-color: #cccccc;
  border-radius: 4rem;
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  height: 2.5rem;
  position: absolute;
  right: 0;
  border: none;
  outline: none;
}

label[for="search"] {
  z-index: 10000;
  border-radius: 4rem;
  padding: 0.5rem;
  cursor: pointer;
  color: #1C1D2075;
}

.searchWrapper {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
  margin-bottom: 2rem;
}

.typeList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 2rem;
}

.typeList li {
  width: 100%;
}

.typeList button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem;
  cursor: pointer;
  border: 1px solid #1C1D2075;
  color: #1C1D2075;
  transition: .5s;
  width: 100%;
}

.typeList button.active {
  border: 1px solid #1C1D20;
  color: #1C1D20;
}

.normal {
  background-color: #A8A77A;
}

.fire {
  background-color: #EE8130;
}

.grass {
  background-color: #7AC74C;
}

.electric {
  background-color: #F7D02C;
}

.water {
  background-color: #6390F0;
}

.ice {
  background-color: #96D9D6;
}

.fighting {
  background-color: #C22E28;
}

.poison {
  background-color: #A33EA1;
}

.flying {
  background-color: #A98FF3;
}

.psychic {
  background-color: #F95587;
}

.bug {
  background-color: #A6B91A;
}

.rock {
  background-color: #B6A136;
}

.ghost {
  background-color: #735797;
}

.ground {
  background-color: #E2BF65;
}

.dragon {
  background-color: #6F35FC;
}

.dark {
  background-color: #705746;
}

.steel {
  background-color: #B7B7CE;
}

.fairy {
  background-color: #D685AD;
}
